</main>
<footer>
    <section class="ftr-area panel">
        <div class="container">
            
			footer

        </div>
    </section>


	
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>