<!DOCTYPE html>
<html lang="us" class="broken-image-checker" ng-app="yeseer">
    <head>
       
        <title lang="us"><%= page_title %></title>
        <link rel="icon" type="image/png" href="/front/us/images/favicon.png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



    </head>

    <body class="transition nav-plusminus" >

            <div id="body-wrapper">
                <header>
                    <section class="panel">
                        <div class="container">
							<h4>Node CRUD</h4>
						</div>
                    </section>
                </header>
            
				<main id="page-content">